body {
	background-image: url('https://th.bing.com/th/id/OIP.hiCq5wVGo9z7KAGVJW4SjQHaEo?pid=ImgDet&rs=1');
	background-size: cover;
}

#content {
  margin-left: auto;
  margin-right: auto;
  width: 650px;
  text-align: center;
  color: #FFFFFF;
}

#content h1 {
	font-family: sans-serif;
}

#title{
	text-decoration: underline;
}

#portfolio_image {
	border-color: #F0FFFF;
	position: relative;
	right: 300px;
}

#message_box {
	position: relative;
	left: 150px;
	bottom: 200px;
}

#fun_facts {
	width: 550px;
	border: 3px solid;
	position: relative;
	right: 250px;
	bottom: 150px;
}

#links {
	text-align: center;
	color: #FFFFFF;
}

#links a{
	color: #FFFFFF;
}

#greeting-container {
  margin-top: 20px;
}
